* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fdfeff;
    overflow-x: hidden;
    position: relative;
    left: -50px;
}
nav {
    position: relative;
    top: 40px;
    left: 20px;
    display: flex;
    padding-bottom: 50px;
}
.nav-item {
    display: inline-block;
    position: relative;
    left: 200px; 
    top: 10px;   
    margin: 0 20px;
    color: rgb(99, 95, 95);
}
.nav-item span {
    color: #000;
    font-weight: 900;
}
.btn1 {
    position: relative;
    left: 850px;
    bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: #fff;
    border-color: rgb(87, 163, 222);
    color: rgb(87, 163, 222);
    border-radius: 10px;
}
.logo {
    position: relative;
    left: 100px;
}
.section1 {
    display: flex;
    flex-direction: row;
    border: none;
    position: relative;
    top: 30px;
    left: 100px;
}
.left1 {
    position: relative;
    left: 100px;
    width: 500px;
    top: 60px;
}
.left1 h1 {
    font-size: 40px;
}
.left1 p {
    color: rgb(104, 102, 102);
    line-height: 1.4;
    padding-top: 10px;
}
.right1 {
    position: relative;
    left: 120px;
    bottom: 10px;
}
button {
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #52c3e3; /* Green */
    color: white;
  }
  .btn2 {
    position: relative;
    top: 20px;
  }
.section2
{
    display: flex;
    position: relative;
    top: 100px;
    left: 100px;
    padding-bottom: 200px;
}
.right2 
{
    position: relative;
    left: 350px;
}
.right2 h1 {
    font-size: 40px;
    padding-bottom: 20px;
}
.right2 p {
    line-height: 1.4;
    color: rgb(91, 89, 89);
    padding-bottom: 15px;
}
.left2 {
    position: relative;
    left: 100px;
    top: 10px;
}
.section3 {
    display: flex;
    flex-direction: row;
    border: none;
    padding-bottom: 50px;
    position: relative;
    left: 100px;
}
.left3 {
    position: relative;
    left: 100px;
    width: 500px;
    top: 20px;
}
.left3 h1 {
    font-size: 40px;
}
.left3 p {
    color: rgb(97, 95, 95);
    line-height: 1.4;
    padding-top: 20px;
}
.btn3 {
    position: relative;
    top: 20px;
}
.right3 {
    position: relative;
    left: 220px;
    bottom: 30px;
}
.section4 {
    position: relative;
    left: 100px;
}
.headpart4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
.headpart4 h1 {
    font-size: 45px;
    position: relative;
    left: 100px;
}
.headpart4 p {
    color: rgb(133, 129, 129);
    position: relative;
    top: 10px;
    right: 100px;
    line-height: 1.4;
    font-size: 15px;
}
.upsection {
    display: flex;
    padding-bottom: 50px;
    position: relative;
    left: 100px;
    top: 50px;

}
.bottomsection {
    display: flex;
    padding-bottom: 40px;
    position: relative;
    left: 100px;
    top: 50px;
    
}
.box4 {
    width: 350px;
    height: 200px;
    padding-right: 50px;
}
.box4 p {
    color: rgb(137, 136, 136);
    line-height: 1.6;
    padding-top: 20px;
    font-size: 20px;
}
.box4 h1 {
    padding-top: 10px;
    font-size: 30px;
}
.section5 {
    background-color: #0598ea;
    padding-bottom: 100px;
    position: relative;
    top: 100px;
    width: 1500px;
}
.flexible {
    position: relative;
    top: 40px;
    left: 450px;
    color: #fff;
}
.packs {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 80px;
    left: 300px;
}
.pack {
    background-color: #fff; 
    border-radius: 10px; 
    height: 500px; 
    width: 280px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.p1 {
    position: relative;
    right: 100px;
   
}
.p2 {
    position: relative;
    right: 35px;
}
.p3 {
    position: relative;
    left: 30px;
}
.pack .up p {

color: #bbb;
font-size: 13px;
padding-left: 15px;
padding-bottom: 5px;

} 
.pack .up h1 { 
    padding-left: 15px;
}
    
.popular {
    color:#fff;
    padding-left: 15px;
    
    } 
.pack .bg {
    background-color: #000;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 280px;
    position: relative;
    right: 20px;
    bottom: 20px;

}
.p2 ul li {
    position: relative;
    bottom: 40px;
}
.pack ul li {
    list-style-type: none;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.pack ul li span {
    fill: green;
    position: relative;
    right: 10px;
}
.pack ul {
    position: relative;
    top: 30px;
}
.price {
    position: relative;
    top: 60px;
    right: 30px;
}
.pricep {
    position: relative;
    right: 30px;
}
.pricep h1 {
    position: relative;
    left: 45px;
    font-weight: 200;
}
.price h1 {
    position: relative;
    left: 45px;
    font-weight: 200;
}
.dollar {
    font-weight: bold;
}
.price p {
    text-align: center;
    position: relative;
    top: 20px;
    color: #bbb;
}
.pricep p {
    text-align: center;
    position: relative;
    top: 20px;
    color: #bbb;
}

.plan {
    position: relative;
    left: 70px;
    top: 40px;
}
.highlight {
    background-color: #52c3e3;
    color: #000;
}
.section6 {
    position: relative;
    top: 200px;   
}
.hpart {
    padding-bottom: 100px;
    text-align: center;
}
.hpart p {
    color: rgb(114, 110, 110);
    position: relative;
    top: 20px;
    left: 70px;
}
.hpart h1 {
font-size: 40px;
position: relative;
left: 60px;
}
.custup {
    display: flex;
    width: 1000px;
    position: relative;
    left: 230px;
}
.custdown {
    display: flex;
    flex-direction: row;
    width: 1000px;
    position: relative;
    left: 230px;
    
}
.customer 
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgb(112, 109, 109);
    height: 200px;
   padding: 30px;
   height: 250px;
}
.c1 {
    position: relative;
    right: 40px;
    bottom: 40px;
}
.c3 {
    position: relative;
    right: 40px;
    bottom: 20px;
}
.c2 {
    position: relative;
    right: 20px;
    bottom: 40px;
}
.c4 {
    position: relative;
    right: 20px;
    bottom: 20px;
}
.customer p {
    position: relative;
    left: 20px;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(115, 112, 112);
}
.name {
    position: relative;
    left: 130px;
    top: 40px;
    
}
.custimg {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 90px;
}
.section7 {
    position: relative;
    top: 320px;
}
.upperpart {
    background-image: url(../images/footer-bg.svg);
    display: flex;
    justify-content: center;
    line-height: 1.6;
    color: #fff;
    height: 300px;
    width: 1500px;
}
.left7 {
    position: relative;
    right: 150px;
    top: 60px;
}
.right7 {
    margin-top: 130px;
    margin-left: 120px;
}
.right7 button {
    background-color: #079af2;
    color: #fff;
    border-color: #fff;
}
.lowerpart {
    position: relative;
    top: 100px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.logo p {
    color: rgb(111, 110, 110);
    position: relative;
    top: 40px;
}
.z ul li:first-child {
    font-weight: 900;
    color: #000;
}
.bold1 {
    font-weight: 900;
}
.z ul li {
    list-style-type: none;
    line-height: 2;
    color: rgb(122, 120, 120);
}
.icon {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    right: 45px;
    top: 20px;
}
.icon img {
    width: 30px;
}